<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/garethbirduk/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="x-access-token" />
      <add key="ClearTextPassword" value="${{ steps.generate_token.outputs.token }}" />
    </github>
  </packageSourceCredentials>
</configuration>
